<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer{
            text-align: center;
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <footer>
        Todos los derechos Reservados ING. Jorge Rendon Estrada
    </footer>
</body>
</html>