<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header{
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <h1>JORGE RENDON ESTRADA</h1>
        <h2>Examen Segundo Corte</h2>
    </header>
</body>
</html>