<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <div>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/#">Acerca de</a></li>
                <li class="nav-item"><a class="nav-link" href="/calcular">EXAMEN</a></li>
                <li class="nav-item"><a class="nav-link" href="/alumnos">Info</a></li>
            </ul>
        </div>
    </div>
</nav>
