<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=titulo%></title>
  </head>
  <style>
    body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

main {
    padding: 2rem;
    text-wrap: balance;
}

a {
    color: #333;
    text-decoration: none;
}

form {
    background-color: #f2fbff;
    margin: 0 auto;
    padding: 2rem;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.input-container {
    margin-bottom: 1rem;
}

input,
select {
    padding: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

button{
    color: #fff;
}
.post-container {
    background-color: #f2fbff;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}
  </style>
  <body>
    <%-include('partials/header.ejs')%>
    <main>
        <% if(!isPost){ %>
            <form action="/" method="post">
                <div class="input-container">
                    <label for="numDocente">Num.Docente</label>
                    <input id="numDocente" type="number" name="numDocente" required=""/>
                </div>
                <div class="input-container">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" name="nombre" required=""/>
                </div>
                <div class="input-container">
                    <label for="domicilio">Domicilio</label>
                    <input id="domicilio" type="text" name="domicilio" required=""/>
                </div>
                <div class="input-container">
                    <label for="nivel">Nivel</label>
                    <select id="nivel" type="text" name="nivel" required="">
                        <option value="1">1. Licenciatura o Ingenieria</option>
                        <option value="2">2. Maestro en Ciencias</option>
                        <option value="3">3. Doctor</option>
                    </select>
                </div>
                <div class="input-container">
                    <label for="pagoPorHoraBase">Pago Hora Base</label>
                    <input id="pagoPorHoraBase" type="number" name="pagoPorHoraBase" required=""/>
                </div>
                <div class="input-container">
                    <label for="horasImpartidas">Horas Impartidas</label>
                    <input id="horasImpartidas" type="number" name="horasImpartidas" required=""/>
                </div>
                <div class="input-container">
                    <label for="numHijos">Numero de hijos</label>
                    <select id="numHijos" type="text" name="numHijos" required="">
                        <option value="3">No tiene</option>
                        <option value="0">1 o 2 hijos</option>
                        <option value="1">3 a 5 hijos</option>
                        <option value="2">5 o mas hijos</option>
                    </select>
                </div>
                <div class="buttons-container">
                    <button class="btn btn-primary" type="submit">
                      Enviar Informacion
                    </button>
                    <button class="btn btn-danger"><a href="/">Limpiar</a></button>
                  </div>
            </form>
        <%} else{ %>
            <div class="post-container">
                <h1>Detalles del Pago</h1>
                <p>
                    Pago Por Horas Impartidas: $<%=pagoPorHorasImpartidas%>
                </p>
                <p>
                    Pago por Bono: $<%=bono%>
                </p>
                <p>
                    Impuestos: $<%=impuesto%>
                </p>
                <p>
                    Total a Pagar: $<%=totalAPagar%>
                </p>
            </div>
        <% } %>
    </main>
    
  </body>
</html>
